site_name: CALT library
site_description: Documentation for CALT library, a library for computational algebra using Transformers
site_dir: site
site_url: https://hiroshikera.github.io/calt/

repo_url: https://github.com/HiroshiKERA/calt

theme:
  name: material
  custom_dir: overrides
  logo: assets/logo-light.svg  # Safari doesn't support <style> tags inside SVGs so we need to a light and a dark SVG
  logo_dark: assets/logo-dark.svg  # Safari doesn't support <style> tags inside SVGs so we need to a light and a dark SVG
  favicon: assets/logo-auto.svg
  favicon_png: assets/logo-light.png  # Safari doesn't support SVG favicons
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: custom
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: custom
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.highlight
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji
  - tables
  - pymdownx.superfences:
      custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      title: On this page
      permalink: true

extra_css:
  - stylesheets/extra.css

extra_javascript:
  # Workaround for site_url breaking mermaid rendering; see the following for more info:
  # https://github.com/squidfunk/mkdocs-material/issues/3742#issuecomment-1076068038
  - https://unpkg.com/mermaid@11/dist/mermaid.min.js

nav:
  - User Guide:
    - Welcome: README.md
    # - API Reference: api.md
    - Data Loader: data_loader.md
    - Trainer: trainer.md
    - Generator: generator.md

exclude_docs: |
  node_modules
  .venv
  _dependencies

plugins:
  - search
  - privacy
  - macros
  - mike:
      alias_type: symlink
      canonical_version: latest
  - mkdocstrings:
      handlers:
        python:
          options:
            # Which docstring style to interpret
            docstring_style: google        # or numpy / sphinx
            # Rendering style for Parameters/Returns, etc.
            docstring_section_style: table # or list / spacy
            # Headings and signatures
            show_signature: true
            separate_signature: true
            show_signature_annotations: true
            line_length: 80
            heading_level: 2
            show_root_heading: false
            show_root_toc_entry: true
            # Member selection and ordering
            filters: ["!^_[^_]"]           # Exclude members starting with _, keep dunder (default)
            group_by_category: true
            members_order: source          # Display in source order
            show_submodules: false
            # To include inherited members
            # inherited_members: true
            # To merge __init__ docstring into class docstring
            merge_init_into_class: true
            docstring_options:
              ignore_init_summary: true    # Omit one-line summary of __init__
          # Specify search path when using src layout
          paths: [src]
  - llmstxt:
      sections:
        User Guide:
          - README.md
          - user-guide/**/*.md
        Examples:
          - examples/**/*.md
        API Reference:
          - api.md

extra:
  social:
    - icon: fontawesome/brands/github
  version:
    provider: mike

validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: warn
  links:
    not_found: warn
    anchors: warn
    absolute_links: warn
    unrecognized_links: warn
